:root:not([data-theme="moon"]){
    --page-bg-color: #fff;

    --background-color-1: #170312;
    --background-color-2: #377AA9;
    --background-color-3: #28587b;
    --background-color-4: #66C3FF;
    --background-color-5: #3d3879;

    --dark-border-color-1: #66C3FF;

    --nav-text-color: #fff;

    --wave-color-1: #66c3ff;
    --wave-color-2: #57a7dd;
    --wave-color-3: #478bbb;
    --wave-color-4: #37719a;
    --wave-color-5: #28587b;
    --wave-color-6: #655cc5;
    --wave-color-7: #5a53b1;
    --wave-color-8: #504a9e;
    --wave-color-9: #46418b;
    --wave-color-10: #3d3879;

    --blue-waves-delay: 100ms;
}

body{
    display: flex;
    flex-direction: column;
}

.incomes-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Arial Black";
}

.incomes-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.create-income-container, .display-income-container{
    width: 75%;
    border-radius: 10px;
    display: flex;
    height: 500px;
    flex-direction: column;
    padding-inline: 10px;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    background-color: var(--page-bg-color);
}

.create-income-container::after, .display-income-container::after{
    --border-width: 15px;
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + var(--border-width));
    height: calc(100% + var(--border-width));

    top: calc(var(--border-width) / 2 * -1);
    left: calc(var(--border-width) / 2 * -1);

    border-radius: 15px;
    background-image: linear-gradient(45deg, var(--background-color-3), var(--background-color-4));

}

.display-income-container::after{

    background-image: linear-gradient(-45deg, var(--background-color-3), var(--background-color-4));


}

.inputs-title{
    background-image: linear-gradient(45deg, var(--background-color-2), var(--background-color-4));
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: 0px 100%;
    width: 100%;
    text-align: center;
    font-family: "Arial Black";
}

.incomes-input-container{

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.data-collector-labels, .data-collector-inputs{

    display: grid;
    gap: 20px;

}

.data-buttons{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    left: 0;
}

.data-buttons > button, .data-buttons > input {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    background-color: var(--background-color-2);
    border: 2px solid var(--background-color-3);
    transition: 200ms ease-in-out transform;

}

.data-buttons > button:hover, .data-buttons > input:hover{
    transform: scale(1.1);
}