:root:not([data-theme="moon"]){
    --page-bg-color: #fff;

    --background-color-1: #170312;
    --background-color-2: #377AA9;
    --background-color-3: #28587b;
    --background-color-4: #66C3FF;
    --background-color-5: #3d3879;

    --dark-border-color-1: #66C3FF;

    --nav-text-color: #fff;

    --wave-color-1: #66c3ff;
    --wave-color-2: #57a7dd;
    --wave-color-3: #478bbb;
    --wave-color-4: #37719a;
    --wave-color-5: #28587b;
    --wave-color-6: #655cc5;
    --wave-color-7: #5a53b1;
    --wave-color-8: #504a9e;
    --wave-color-9: #46418b;
    --wave-color-10: #3d3879;

    --blue-waves-delay: 100ms;

    --trashCanWidth: 50px;
}

body{
    display: flex;
    flex-direction: column;
}

.page-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Arial Black";
}

.content-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.create-income-or-expense-container, .display-income-or-expense-container{
    width: 75%;
    border-radius: 10px;
    display: flex;
    height: 500px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    background-color: var(--page-bg-color);
}

.create-income-or-expense-container::after, .display-income-or-expense-container::after{
    --border-width: 15px;
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + var(--border-width));
    height: calc(100% + var(--border-width));

    top: calc(var(--border-width) / 2 * -1);
    left: calc(var(--border-width) / 2 * -1);

    border-radius: 15px;
    background-image: linear-gradient(45deg, var(--background-color-3), var(--background-color-4));

}

.display-income-or-expense-container::after{

    background-image: linear-gradient(-45deg, var(--background-color-3), var(--background-color-4));


}

.inputs-title{
    background-image: linear-gradient(45deg, var(--background-color-2), var(--background-color-4));
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: 0px 100%;
    width: 100%;
    text-align: center;
    font-family: "Arial Black";
}

.input-container{

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.data-collector-labels, .data-collector-inputs{

    display: grid;
    gap: 20px;

}

.data-buttons{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    left: 0;
}

.data-buttons > button, .data-buttons > input {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    background-color: var(--background-color-2);
    border: 2px solid var(--background-color-3);
    transition: 200ms ease-in-out transform;

}

.data-buttons > button:hover, .data-buttons > input:hover{
    transform: scale(1.1);
}

/* Adam's Table CSS */

.table{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    align-items: center;
}

.table-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    animation: item-slide-in 250ms ease-out forwards;
}

.item-head{
    display: flex;
    justify-content: space-between;
}

.item-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 50%;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    transition: 250ms background-color;

}

.item-component{
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-left: 10px;
   font-family: "Open Sans", sans-serif;
}

.delete-table-item{
    background-color: #BB2124;
    color: white;
    border: none;
    padding-inline: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 150ms;
}

.delete-table-item:hover{
    transform: scale(1.05);
}

.light-table-item{
    background-color: color-mix(in srgb, var(--wave-color-2), transparent 50%);
}
.dark-table-item {
    background-color: color-mix(in srgb, var(--wave-color-3), transparent 30%);

}

@keyframes item-slide-in{

    0%{
        left: -50%;
        opacity: 0;
    }
    100%{
        left: 0px;
        opacity: 1;
    }

}

@keyframes item-slide-out{

    0%{
        left: 0px;
        opacity: 1;
    }
    
    100%{
        left: 50%;
        opacity: 0;
    }
}