:root:not([data-theme="moon"]){
    --page-bg-color: #fff;

    --background-color-1: #170312;
    --background-color-2: #377AA9;
    --background-color-3: #28587b;
    --background-color-4: #66C3FF;
    --background-color-5: #3d3879;

    --dark-border-color-1: #66C3FF;

    --nav-text-color: #fff;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    position: relative;

    width: 400px;
    height: 500px;
    background-color: #eee; 
    padding-inline: 25px;
    border-radius: 10px;

}

.login-container::before{
    --border-width: 10px;
    content: "";
    border-radius: 12px;
    position: absolute;
    top: calc(var(--border-width) / -2);
    left: calc(var(--border-width) / -2);
    z-index: -1;
    width: calc(100% + var(--border-width));
    height: calc(100% + var(--border-width));
    background-image: linear-gradient(-45deg, var(--background-color-2), var(--background-color-4));
}

.login-title{
    text-align: center;
    padding-bottom: 8px;
    /* font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal; */
    font-family: Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: 0px 100%;
    background-image: linear-gradient(-45deg, transparent, var(--background-color-2), var(--background-color-4), transparent);
}

.name-input-container{

    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.name-input-container > input{
    flex-grow: 1;
}

.user-inputs-container{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.password-input-container{
    display: flex;
    flex-direction: column;
}


.password-title, .email-title{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: 0px 100%;
    padding-bottom: 5px;
    width: fit-content;
    padding-inline: 20px;
    background-image: linear-gradient(45deg, var(--background-color-4), var(--background-color-2));
    /* background-image: linear-gradient(-45deg, transparent, var(--background-color-4), var(--background-color-4), transparent); */
}

.password-input-container > input{
    width: 50%;
    position: relative;
}

.password-input{
    margin-bottom: 10px;
}

input{
    height: 35px;
    border: none;
    border-radius: 5px;
    transition: transform 150ms ease-in-out;
}

.error-text{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    text-align: center;
}

.login-button-container{
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.login-button, .sign-up-button{

    width: 120px;
    height: 35px;
    border: 3px solid var(--background-color-3);
    background-color: var(--background-color-2);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 150ms ease-in-out;
    font-size: larger;
}

.sign-up-container{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-button:hover, .sign-up-button:hover, input:focus{

    transform: scale(1.1);

}