body, html{
    height: 100%;
}

body{
    margin: 0;
}

:root:not([data-theme="moon"]){
    --page-bg-color: #fff;

    --background-color-1: #170312;
    --background-color-2: #377AA9;
    --background-color-3: #28587b;
    --background-color-4: #66C3FF;
    --background-color-5: #3d3879;

    --dark-border-color-1: #66C3FF;

    --nav-text-color: #fff;

    --wave-color-1: #66c3ff;
    --wave-color-2: #57a7dd;
    --wave-color-3: #478bbb;
    --wave-color-4: #37719a;
    --wave-color-5: #28587b;
    --wave-color-6: #655cc5;
    --wave-color-7: #5a53b1;
    --wave-color-8: #504a9e;
    --wave-color-9: #46418b;
    --wave-color-10: #3d3879;

    --blue-waves-delay: 100ms;
}

/* Navigation Bar Styles */
.nav-bar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    background-color: var(--background-color-1);
    color: var(--nav-text-color);
    z-index: 10 !important;
}

.nav-logo-container{
    display: flex;
    align-items: center;
}


.logo-img{
    width: 50px;
    height: 50px;
}

.change-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(170deg) brightness(110%) contrast(101%);
}

.nav-title{
    padding-inline: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-button{
    height: 35px;
    flex-grow: 1;
    background-color: none;
    cursor: pointer;
    border: none;
    color: var(--nav-text-color);
    font-size: medium;


}

.nav-button:not(.nav-user-btn){
    /* Slide In and Out underline */
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 0px 3px;
    background-image: linear-gradient(var(--dark-border-color-1), var(--dark-border-color-1));
    background-position-y: 32px;
    transition: background-size 250ms;
}

.nav-button:not(.nav-user-btn):hover{
    background-size: 100% 3px;
}

.nav-user-btn{
    position: relative;
    padding-inline: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-image: linear-gradient(90deg, var(--background-color-4), var(--background-color-4));
    cursor: pointer;
    background-color: transparent;
    transition: background-size 150ms linear;
    z-index: 2;
}

.nav-user-btn:hover{
    background-size: 100% 100%;
}

.nav-user-btn::before{
    z-index: -1;
    content: "";
    position: absolute;
    background-color: var(--background-color-2);

    /*Approximately position the before element in the center of its parent*/
    left: 2.9%;
    top: 5%;
    width: 94%;
    height: 90%;
    border-radius: 8px;
}

.theme-changer{
    background-color: transparent;
    border: none;
    color: var(--nav-text-color);
    font-size: larger;
    cursor: pointer;
}
.changeIcon{
    width: 32px;
    height: 32px;
}
