<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Balance</title>
    <link type="text/css" rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/balances.css">
    <script type="module" defer src="../../js/balanceGraphing.js"></script>
</head>
    <body>
    <nav class="nav-bar">
        <div class="nav-logo-container" id="titleLogoContainer">
                <img src="../../resources/Icon.svg" alt="Website Icon" class="logo-img">
                <h1 class="nav-title">Wallet Watcher</h1>
        </div>
        <div class="nav-buttons">
            <button class="nav-button nav-user-btn" id="logoutButton">Log Out</button>
            <button class="theme-changer" id="themeBtn">
                <img src="../../resources/ionicons/sunny.svg" id="changeIcon" data-theme="sunny" alt="☀️" class="change-icon"/>
            </button>
        </div>

    </nav>



    <h1 class="page-heading">An Overview of Your Wallet</h1>

    <div class="money-overview-wrapper">

        <div class="current-bal-container">
            <h1 class="current-bal-label">Current Balance: </h1>
            <h1 class="current-bal-display" id="currentBalToDisplay">0</h1>



        </div>

        <div class="this-timeframe-bal-container">
            <label class="this-timeframe-dropdown-labels" for="thisTimeframeDropdown">This</label>
            <select class="this-timeframe-dropdown" id="thisTimeframeDropdown">
                <option value="day">Day's</option>
                <option value="week">Week's</option>
                <option value="month">Month's</option>
                <option value="year">Year's</option>
            </select>

            <label class="this-timeframe-dropdown-labels" for="thisTimeframeDropdownType">total</label>
            <select class="this-timeframe-dropdown" id="thisTimeframeDropdownType">
                <option value="incomes">Incomes</option>
                <option value="expenses">Expenses</option>
                <option value="both">Incomes & Expenses</option>
            </select>

            <h1 class="this-timeframe-bal-display" id="thisTimeframeBalDisplay">0</h1>

        </div>


    </div>

    <h1 class="page-heading">A Look into the Future...</h1>
    <div class="money-overview-wrapper look-into-future-container">
        <div class="top-timeframe-elements">

            <select class="from-this-to-that-timeframe-type-dropdown" id="thisToThatTimeframeDropdownType">
                <option value="incomes">Incomes</option>
                <option value="expenses">Expenses</option>
                <option value="both">Incomes & Expenses</option>
            </select>
            <label for="startingDate">from</label>
            <input type="date" id="startingDate"/>
            <label for="endingDate">to</label>
            <input type="date" id="endingDate"/>
            <h1 class="from-this-to-that-timeframe-bal" id="fromThisToThatTimeframeBalDisplay">Enter a starting and ending date!</h1>
        </div>
        <h1>Visualized:</h1>
        <canvas class="bal-graph" id="balOverTimeGraph"></canvas>
    </div>




    </body>
</html>