<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expenses</title>
    <link type="text/css" rel="stylesheet" href="../../css/nav.css">

</head>
<body>
<nav class="nav-bar">
    <div class="nav-logo-container">
        <img src="../../resources/Icon.svg" alt="Website Icon" class="logo-img">
        <h1 class="nav-title">Wallet Watcher</h1>
    </div>
    <div class="nav-buttons">
        <button class="nav-button nav-user-btn" id="loginButton">Log Out</button>
        <button class="theme-changer" id="themeBtn">
            <img src="../../resources/ionicons/sunny.svg" id="changeIcon" data-theme="sunny" alt="☀️" class="change-icon"/>
        </button>
    </div>
</nav>

</body>
</html>