<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= locals.pageType %>s</title>
    <link type="text/css" rel="stylesheet" href="../../css/nav.css">
    <link type="text/css" rel="stylesheet" href="../../css/incomes-or-expenses.css">
    <!-- <script type="module" src="../../js/incomesTable.js" defer></script> -->
    <script type="module" src="../../js/incomesOrExpenses.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-logo-container" id="titleLogoContainer">
                <img src="../../resources/Icon.svg" alt="Website Icon" class="logo-img">
                <h1 class="nav-title">Wallet Watcher</h1>
        </div>
        <div class="nav-buttons">
            <button class="nav-button nav-user-btn" id="logoutButton">Log Out</button>
            <button class="theme-changer" id="themeBtn">
                <img src="../../resources/ionicons/sunny.svg" id="changeIcon" data-theme="sunny" alt="☀️" class="change-icon"/>
            </button>
        </div>
    </nav>

    <h1 class="page-title">Enter Various <%= locals.pageType %> Sources</h1>

    <div class="content-wrapper">
        <div class="create-income-or-expense-container">
            <h1 class="inputs-title"><%= locals.pageType%>s Input</h1>

            <form class="input-container" id="inputForm">
                <div class="data-collector-labels">
                    <label class="data-collector-name">Label: </label>
                    <label class="data-collector-name">Recurring Times:</label>
                    <label class="data-collector-name">Amount: $</label>
                </div>

                <div class="data-collector-inputs">
                    <input id="labelInput" type="text" placeholder="Enter a label..." required/>

                    <select class="type-dropdown" id="typeInput" required>
                        <option value="Annually">Annually</option>
                        <option value="Biannually">Biannually</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Biweekly">Biweekly</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Daily">Daily</option>
                        <option value="Onetime">Onetime</option>
                    </select>

                    <input id="amountInput" type="number" step="0.01" min="0.01" max="1000000000" placeholder="Enter an amount..." required/>
                </div>

                <div class="data-buttons">
                    <input type="submit" id="submitButton" class="add-to-table-button" value="Add to Table"/>
                    <button type="button" id="clearDataButton" class="clear-data-button">Delete Data</button>
                </div>
            </form>

        </div>

        <div class="display-income-or-expense-container">


            <div class="table" id="table">
                

                <!-- Table Item Blue Print -->
                <!-- <div class="table-item">

                    <div class="item-head">
                        <div class="item-title-container light-table-item OR dark-table-item">
                            <h3 class="item-title">Title</h3>
                        </div>

                        <button id="deleteTableItemButton" class="delete-table-item">Delete</button>
                    </div>

                    <p class="time-interval-text item-component">Pay Interval: </p>

                    <p class="amount-text item-component">Amount: $</p>

                </div> -->

            </div>

        </div>

    </div>


</body>
</html>